@charset"utf-8";


/*CSS DOCUMENT*/

/*OVERALL WRAPPER*/


BODY		{ 
		Background:#836133;
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
 		font-weight:400;
		color:#A39E9E;
		width:786px;
		margin:0 auto;
			
    		 }

#wrapper
			{
			Background:#FFFFFF;
			font-family: 'Roboto', sans-serif;
			font-size:14px;
 			font-weight:400;
			color:#A39E9E;
			width:786px;
			margin:0;
			}
/*OVERALL WRAPPER*/

/*HEADER*/

header
			{
			
			margin-left:5px;
			margin-top:30px;
			margin-bottom:-50px;
			
			}

/*HEADER*/


/*NAVIGATION BEHAVIOUR*/

a:hover {
	    color: #F49F61;
	    text-decoration:underline;
	   }

a:link   {
	    color: #000000;
           }

a:visited  {
	    color: #A39E9E;
	   } 

/*NAVIGATION BEHAVIOUR*/


/*NAVIGATION STYLE*/

     	 nav{ 
		font-family: 'Roboto', sans-serif;
		font-size:17px;
		color:#A39E9E;
		margin-bottom:25px;
		margin-right:-20px;
		text-align:right;
	    }

      nav ul	{   
		
	        display:inline;
		text-align:right;
		padding-right:30px;

	    	}

  nav ul li {   
		
	        display:inline;
		list-style-type:none;
		padding-left:20px;
		padding-right:15px;
		
		
	    }

/*NAVIGATION STYLE*/



/*FEATURE IMAGE*/

#feature image
	      {

		Background:#CECECE;
		font-family: 'Roboto', sans-serif;
		font-size:15px;
 		font-weight:300;
		width:786px;
		height:400px;
		border: 1px solid #A39E9E;
	        padding-top:10px;
		padding-right:0px;
	        margin:0 auto;
		margin-bottom:10px;
		text-align:center;
		
	       }



.quotes
	      {

		Background:#CECECE;
		font-family: 'open sans';
		font-size:22px;
		color:#FFFFFF;
 		font-weight:300;
		width:786px;
		height:40px;
		margin:0px;
		margin-bottom:25px;
		text-align:center;
		
		
	       }

.p		{
		Background:#F49F61;
		font-family: 'Roboto', sans-serif;
		font-size:14px;
 		font-weight:300;
		color:#A39E9E;
		width:786px;
		height:70px;
		padding-top:12px;
		padding:10px;
		text-align:center;
		margin-left:50px;
		margin-top:79px;
		color:#000000;
		
	  	}

#middle wrapper 
		{
		
		margin:0 auto;
		}
.text p		
		{ 
		Background:#FFFFFF;
		font-family: 'Roboto', sans-serif;
		font-size:14px;
 		font-weight:300;
		color:#A39E9E;
		width:700px;
		height:100px;
		text-align:left;
		margin:auto;
		color:#A39E9E;
		}

#images wrapper 
		{
		Background:#FFFFFF;
		width:786px;
		height:500px;
			

		}

.float 
		{
 		 float: left;
		 padding:28px;
		 border-color:#A39E9E;
		
		 
  		}
  
div.float p 	{
  		 text-align: center;
		 font-size: 10px;
		 color:#A39E9E;
		}

.float img	{
		border:1px solid #A39E9E   
		}

/*FOOTER-NAVIGATION BEHAVIOUR*/



a:hover {
	    color: #F49F61;
	    text-decoration:underline;
	   }

a:link   {
	    color: #000000;
           }

a:visited  {
	    color: #A39E9E;
	   } 


#text 
	       {
		Background:#FFFFFF;
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
 		font-weight:300;
		color:#A39E9E;
		text-align:justify;
		margin-top:0;
		color:#000000;
		padding:5px;
		margin-left:150px;
		margin-right:150px;
		
	  	}






/*FOOTER*/
#footer-container H1	{
			Background:#CFB590;
			font-size:25px;
 			font-weight:400;
			color:#FFFFFF;
			max-width:100%;
			min-width:100%; 
			text-align:center;
			min-height:80px;
			margin:0 auto;
			clear:both;
			
			}

footer		{
			Background:#cecece;
			font-size:15px;
 			font-weight:400;
			max-width:100%;
			min-width:100%; 
			height:50px;
			margin:0 auto;
			clear:both;
			text-align:center
			}
